<div class="sell col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>About me :</strong></h4>
  <hr />
  <%about= "My name is pedram aghasian and i love building web application,i learning in internet,and i started with ROR."%>
  <%= simple_format(about)%>
  <hr />
  <div class="center">
    <%= link_to "Back",diaries_path,class:"btn btn-xs btn-primary"%>
  </div>
  <hr />
</div>