<div class="sell col-md-8 col-md-offset-2">
  <h4 class="center description"><strong>Contact me :</strong></h4>
  <hr />
  <%about= " if  you want to share your idea with me just email : pedram.aghasian@yahoo.com"%>
  <p class="center"><%= simple_format(about)%></p>
  <hr />
  <div class="center">
    <%= link_to "Back",diaries_path,class:"btn btn-xs btn-primary"%>
  </div>
  <hr />
</div>